/* 
	B2Me Custom Classes
	Table of Contents
	- html / body
	- Homepage sections
	- Innerpage sections
*/
html
	-webkit-text-size-adjust: 100%;

body
	font-family: paragraph-font;
	font-size: default-font-size;
	font-weight: 400;
	color: default-text-color;
	line-height: site-line-height;
	background-color: site-background;
	margin: 0;

/* Homepage */
.home
	main#primary
		max-width 100%
		padding: 0

	article,
	.entry-content,
	ul,
	p
		margin: 0
		padding: 0

	ul
		list-style: none

/* Inner Page */
h1.entry-title
	font-size: 64px
	text-transform: uppercase