/* 
	B2Me Custom Classes
	Table of Contents
	- html / body
	- Homepage sections
	- Innerpage sections
*/
html
	font-size: default-font-size;
	-webkit-text-size-adjust: 100%;

body
	font-family: paragraph-font;
	font-weight: 400;
	color: default-text-color;
	line-height: site-line-height;
	background-color: site-background;
	margin: 0;

/* Homepage */
.home
	main#primary
		max-width 100%
		padding: 0

	article,
	.entry-content,
	ul,
	p
		margin: 0
		padding: 0

	ul
		list-style: none

/* Inner Page */
.b2-ip-banner
	position relative

	canvas
		display: block
		width 100%
		min-height: 200px
		background-image: innerpage-banner
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		background-color: var(--primary-color)

h1.entry-title
	font-size: 4rem
	text-transform: uppercase